version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - BETTER_AUTH_SECRET=PWaqdnA55xkCQBRUV7MwraRZ3n4RAY1v
      - BETTER_AUTH_URL=http://localhost:3000
      - DATABASE_URL=postgresql://neondb_owner:npg_WKt3Yy8suNkv@ep-withered-voice-a7pygs7k-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    env_file:
      - ./backend/.env
    volumes:
      - .:/app
    restart: unless-stopped